*
{
    margin: 0;
    padding: 0;

    -ms-touch-action: none;
    touch-action: none;

    /* Disable selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

html,
body
{
    overflow: hidden;
    background-color: black;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#preloader {
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

